body {
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  transition: all 1s ease-in-out;
}

#wrapper.sidebar_hidden {
  padding-left: 0px;
}

.navbar-header {
  width: 225px;
  border: none;
}

.navbar-nav.side-nav {
  transition: all 1s ease-in-out;
  &.sidebar_hidden {
    left: 0;
  }
}

.sidebar_hidden {
  .sidebar_toggle {
    position: absolute;
    left: 0;
  }
}

.sidebar_toggle {
  transition: all 1s ease-in-out;
  position: absolute;
  top: 120px;
  left: 225px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar-fixed-top {
  border: none;
}

.container-fluid, #page-wrapper {
  padding: 0 !important;
}

.navbar {
  height: 76px;
}

.btn-default {
  color: #647f92;
  font-size: 11px;
  letter-spacing: 0.7px;
  height: 33px;
  width: 106px;
  border-radius: 2px;
}

.side-nav li {
  width: 100%;
  color: #647f94;
}

.top-nav li {
  line-height: 72px;
}

.top-nav button {
  margin-left: 18px;
}

.offset-right {
  margin-right: 36px;
}

.navbar-header {
  height: 76px;
}

.navbar-header a {
  line-height: 48px;
}

@media (min-width: 768px) {
  .side-nav {
    top: 76px !important;
  }
}

.top-nav > li > a {
  padding: 0px;
  display: inline;
}

.saturate {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.onoffswitch {
  position: relative;
  width: 55px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 20px;
  padding: 0;
  line-height: 20px;
  border: 0px solid #FFFFFF;
  border-radius: 30px;
  background-color: #9E9E9E;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: -5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 31px;
  border-radius: 30px;
  box-shadow: 0 6px 12px 0px #757575;
}

.percent-blue {
  color: #337ab7 !important;
}

.progress-bar {
  span {
    text-align: center;
  }
}

.side_menu {
  padding-left: 0px;
  .menu_row {
    border-left: 10px solid;
    .panel {
      background-color: #1e3344;
      .panel-heading {
        a {
          background-color: transparent !important;
        }
      }
      .panel-body {
        padding: 10px;
        .stat_pane {
          .inventory_btns {
            margin-top: 5px;
            margin-bottom: 15px;
          }
          .progress_container {
            .progress {
              height: 10px;
              margin-bottom: 0px;
            }
          }
        }

      }
    }
  }

}

.custom-marker {
  padding: 0;
  .trainer_marker {
    font-size: 1em;
    padding: 5px;
    border: 2px solid;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }

  .triangle {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
  }

  .trainer_marker1:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
  }
}

.item_container {
  .item {
    display: inline-block;
    width: 25%;
    height: 50px;
    img {
      height: 40px;
      width: 40px;
    }
  }
}

.pokemon_container {
  .pokemon {
    text-align: center;
    .dropdown {
      position: absolute;
    }
    display: inline-block;
    .greyscale {
      filter: gray; /* IE6-9 */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    }
    img {
      height: 75px;
      width: 75px;
    }
  }
}

.modal {
  .modal-body {

    max-height: 500px;
    overflow-y: scroll;
  }
}

.sidebar_toggle {
  .caret {
    transition: all 1s ease-in-out;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.sidebar_toggle.sidebar_shown {
  .caret {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.map_console {
  height: 200px;
  width: calc(100% - 225px);
  position: absolute;
  bottom: 0px;
  float: left;
  background-color: #fff;
  right: 0;
  overflow: hidden;
}

.console {
  height: 100%;
  [active] {
    height: 100%;
    .tab-content {
      height: calc(100% - 40px);
      .tab-pane {
        height: 100%;
      }
    }
  }
}

.console {
  .nav {
    background-color: #1e3344;
    border: 0;
    height: 40px;
    .uib-tab.active {
      a {
        background-color: #415f79;
        color: #fff;
      }
    }
    .uib-tab {
      background-color: #1e3344;
      a ,a:hover{
        color: #337ab7;
        border: 0;
        border-radius: 0;
      }
      a:hover{
        background-color: #1e3344;
        text-decoration: underline;
      }
    }
  }

  .output {
    font-family: arial, "lucida console", sans-serif;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 11px;
    height: 100%;
    overflow-y: scroll;
    color: #fff;
    background: #000;
    .event- {

      &bot_exit, &api_error, &config_error, &item_discard_fail, &login_failed, &lucky_egg_error, &move_to_map_pokemon_fail, &no_pokeballs,
      &pokemon_capture_failed, &pokemon_fled, &pokemon_inventory_full, &pokemon_nickname_invalid, &pokemon_vanished, &softban, &threw_berry_failed
      &unknown_spin_result, &unset_pokemon_nickname, &vip_pokemon {
        color: #ff473d;
      }

      &bot_start, &egg_hatched, &incubate, &item_discarded, &keep_best_release, &level_up, &level_up_reward, &login_successful,
      &move_to_map_pokemon_encounter, &next_sleep, &pokemon_evolved, &pokemon_release {
        color: green;
      }
      &egg_already_incubating, &future_pokemon_release, &incubator_already_used, &inventory_full, &location_cache_error,
      &location_cache_ignored, &next_egg_incubates, &pokemon_appeared, &pokemon_not_in_range, &pokestop_empty,
      &pokestop_searching_too_often, &skip_evolve {
        color: yellow;
      }
      &pokemon_caught {
        color: #00daff
      }
      &spun_pokestop {
        color: cyan;
      }

    }

  }
}