body{
  font-family: 'Montserrat', sans-serif;
}
#wrapper.sidebar_hidden{
  padding-left: 0px;
}

.navbar-header{
  width: 225px;
  border: none;
}
.sidebar_hidden{
  .sidebar_toggle{
    position: absolute;
    left: 0;
  }
}
.sidebar_toggle {
  position: relative;
  top: 100px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.navbar-fixed-top{
  border: none;
}
.container-fluid, #page-wrapper{
  padding: 0 !important;
}

.navbar {
  height: 76px;
}
.btn-default {
  color: #647f92;
  font-size: 11px;
  letter-spacing: 0.7px;
  height: 33px;
  width: 106px;
  border-radius: 2px;
}
.side-nav li{
  width: 100%;
  color: #647f94;
}

.top-nav li {
  line-height: 72px;
}

.top-nav button{
  margin-left: 18px;
}

.offset-right{
  margin-right: 36px;
}
.navbar-header{
  height: 76px;
}
.navbar-header a{
  line-height: 48px;
}

@media (min-width: 768px){
  .side-nav {
    top: 76px !important;
  }
}

.top-nav > li > a {
  padding: 0px;
  display: inline;
}
