 // MUST CONFIGURE THE USER ARRAY AND GOOGLE MAPS API KEY.
 // YOU CAN GET A KEY HERE: https://developers.google.com/maps/documentation/javascript/get-api-key
 var userInfo = {
 	users: [{
 	    enable: true,
 	    username: "username1",
 	    alias: "FriendlyName1",
 	    socketAddress: "127.0.0.1:4000",
 	    enableSocket: true
 	},{
 	    enable: false,
 	    username: "username2",
 	    alias: "FriendlyName2",
 	    socketAddress: "127.0.0.1:5000",
 	    enableSocket: false
 	}],
 	userZoom: false,
 	userPath: true,
 	zoom: 16,
 	userFollow: true,
 	gMapsAPIKey: "YOUR_API_KEY_HERE"
 };
