<div ng-controller="MenuCtrl">
    <ul  class="nav navbar-nav side-nav side_menu" id="sidemenu" uib-accordion>
        <li ng-style="{'border-color': bot.color}"  is-open="status.isCustomHeaderOpen" class="menu_row" ng-repeat="bot in bots">
            <div uib-accordion-group>
            <uib-accordion-heading>
                {{bot.name}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
            </uib-accordion-heading>
            <span>Level: {{bot.player_stats.level}}</span>
            <span>Exp: {{bot.player_stats.experience}}</span>
            <div class="stat_pane">
                <!-- @FIXME -->
                <button class="btn btn-xs btn-small" ng-click="findBot(bot)" ng-disabled="!bot.position"

                >Go to
                </button>
                <!-- @FIXME -->
                <button class="btn btn-xs btn-small" ng-click="followBot(bot)" ng-disabled="!bot.position"
                        ng-class="{'btn-success': bot.follow_on_map}"
                >Follow
                </button>

                <div class="inventory_btns">
                    <button class="btn btn-xs btn-small" ng-click="popup(bot, 'Item')">Items</button>
                    <button class="btn btn-xs btn-small" ng-click="popup(bot, 'Pokebag')">Pokebag</button>
                    <button class="btn btn-xs btn-small" ng-click="popup(bot, 'Pokedex')">Pokedex</button>
                </div>
            </div>
            <div class="progress_container">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ getLevelPercent(bot.player_stats.level ,bot.player_stats.experience ) }}%">
                        <span>{{ getLevelPercent(bot.player_stats.level ,bot.player_stats.experience ) }}%</span>
                    </div>
                </div>
            </div>
            </div>
        </li>
    </ul>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

